* {
    -webkit-tap-highlight-color: transparent;
}
body {
    overscroll-behavior-y: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
/* Skrytie scrollbaru pre čistý vzhľad */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
